.thumbHeading {
    color: $color-secondary;
    font-weight: bold;
    font-size:1.375rem;
    margin-bottom: $base-font-size ;
  }
  
  .thumbPara {
    font-size: $base-font-size;
    color: $color-text-tri;
  }
  
  .thumbIcon i {
    font-size: 2.625rem;
  }